/* CAROUSEL */
ngb-carousel .picsum-img-wrapper {
   position: relative;
   font-family: 'Dosis', sans-serif;
   height: 0;
   padding-top: 55%;
}

ngb-carousel .picsum-img-wrapper>img {
   background-color: #323232;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

.orange-font {
   color: #ff8000;
}

/* BOTTONS */
* {
   box-sizing: border-box;
}

.cap a {
   color: #ffffff;
   text-decoration: none;
}

body {
   background-color: #323232;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  height: 55vh;
  width: 100%;
  background-color: rgba(205, 205, 205, 0.10);
}

.box {
   height: 350px;
   width: 450px;
   position: relative;
   overflow: hidden;
   border-radius: 6px;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.70);
   cursor: pointer;
}

.box img {
   width: 100%;
   height: 100%;
   transition: all 500ms ease-out;
}

.box .cap {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   background: rgba(255, 131, 0, 0.50);
   transition: all 500ms ease-out;
   opacity: 0;
   visibility: hidden;
   text-align: center;
}

.container div:hover> .cap {
   opacity: 1;
   visibility: visible;
}

.container div:hover> .cap h3 {
   margin-top: 70px;
   margin-bottom: 15px;
}

.container div:hover> img {
   transform: scale(1.3);
}

.container div .cap h3 {
   font-weight: 400;
   margin-bottom: 120px;
   transition: all 500ms ease-out;
   margin-top: 30px;
}

.container div .cap p {
   font-size: 15px;
   line-height: 1.5;
   width: 100%;
   max-width: 220px;
   margin: auto;
}

/* SHOWCASE */
.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  height: 105vh;
  width: 100%;
}

.box-two {
   height: 700px;
   width: 1140px;
   position: absolute;
   overflow: hidden;
   border-radius: 6px;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.70);
}

.box-two img {
   width: 100%;
   height: 100%;
   transition: all 500ms ease-out;
}

.box-two .cap-two {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   background: rgba(255, 131, 0, 0.50);
   transition: all 500ms ease-out;
   opacity: 0;
   visibility: hidden;
   text-align: center;
}

.showcase div:hover> .cap-two {
   opacity: 1;
   visibility: visible;
}

.showcase div:hover> .cap-two h3 {
   margin-top: 100px;
   margin-bottom: 10px;
}

.showcase div:hover> img {
   transform: scale(1.3);
}

.showcase div .cap-two h3 {
   color: #ffffff;
   font-weight: 400;
   margin-bottom: 120px;
   transition: all 500ms ease-out;
   margin-top: 30px;
}

.showcase div .cap-two p {
   color: #ffffff;
   font-size: 18px;
   line-height: 1.8;
   width: 100%;
   max-width: 200px;
   margin: auto;
}

.cap-two a {
   font-size: 25px;
   color: #323232;
   text-decoration: none;
}

/* BOTTONS-TWO */
.box-three {
   background: #323232;
   height: 350px;
   width: 450px;
   position: relative;
   overflow: hidden;
   border-radius: 6px;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.70);
   cursor: pointer;
}

.box-three .cap-three {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   background: rgba(255, 131, 0, 1.0);
   transition: all 500ms ease-out;
   opacity: 0;
   visibility: hidden;
   text-align: center;
}

.container div:hover> .cap-three {
   opacity: 1;
   visibility: visible;
}

.container div:hover> .cap-three h3 {
   margin-top: 70px;
   margin-bottom: 15px;
}

.container div .cap-three h3 {
   font-weight: 400;
   margin-bottom: 120px;
   transition: all 500ms ease-out;
   margin-top: 30px;
}

.container div .cap-three p {
   font-size: 15px;
   line-height: 1.5;
   width: 100%;
   max-width: 220px;
   margin: auto;
}

.cap-three a {
   color: #ffffff;
   text-decoration: none;
}

/* FOOTER-LINKS */
.footer-links {
   background: #323232;
   color: #ff8000;
   font-size: 15px;
   padding: 35px 0;
}

.footer-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   align-items: flex-start;
   justify-content: center;
}

.footer-container ul {
   margin: 0 auto;
}

.footer-container ul li {
   line-height: 2.8;
}

.footer-container a {
   display: grid;
   text-decoration: none;
   color: #ffffff;
   align-items: flex-start;
   justify-content: center;
}

ul {
    list-style: none;
}

.footer {
   background: #323232;
   color: #ff8000;
   padding: 20px 0;
   text-align: center;
}

.footer h3 {
   font-size: 12px;
   padding-bottom: 10px;
}
